/*
Theme Name: Avada Child NavNorth
Description: NN Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 0.1.0
Text Domain:  Avada
*/
.wpcf7 .wpcf7-form .wpcf7-submit {
    border-width: 0px !important;
    border-color: #ffffff !important;
    background: #333333;
    width: auto;
    margin: 0 auto;
    display: block;
    padding: 13px 29px;
    line-height: 17px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    transition: all .2s;
}
.wpcf7 .wpcf7-form .wpcf7-submit:hover, .wpcf7 .wpcf7-form .wpcf7-submit:active { background: #222222; }